In [1]:
import numpy as np
import pandas as pd
from shapely.geometry import Point, Polygon
import random
import matplotlib.pyplot as plt

In [2]:
data = pd.read_excel('shirts.xlsx')
data.head(6)
size = data.iloc[1]['Unnamed: 2']
width = data.iloc[2]['Unnamed: 4']
koordinati = [] 
for i in range(len(data.index)):
    if i >=4 :
        if pd.notnull(data.iloc[i]['Unnamed: 0']) == True:
            t = []
            x = []
            y = []
            for j in range(1,len(data.columns)):
                if pd.notnull(data.iloc[i]['Unnamed: ' + str(j)]) == True:
                    
                    x.append(data.iloc[i]['Unnamed: '+ str(j)])
                    y.append(data.iloc[i+1]['Unnamed: ' + str(j)])
            for m in range(len(x)):
                if m>0:
                    
                    t.append([x[m],y[m]])
            koordinati.append(t)
Poligoni = []
for i in range(len(koordinati)):
    Poligoni.append(Polygon(koordinati[i]))

In [3]:
data.head(6)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,name:,NaN,SHIRTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,size:,NaN,99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,object:,NaN,width:,NaN,40.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,no,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,x,0,7.0,7.0,0.0,-1.0,-1.0,-2.0,-1.0,NaN,NaN
5,NaN,y,0,1.0,5.0,7.0,5.0,4.0,3.0,2.0,NaN,NaN